{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="container-fluid">
    <form action="." method="GET">
        <div class="form-group">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select name="schema_name" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value=0 {{ schema_name > 0 ? '' : 'selected="selected"' }}>Choose schema</option>
                {% for schema in list %}
                    <option value="{{ schema['schemaMetadata']['name'] }}" {% if schema['schemaMetadata']['name'] == schema_name %}selected="selected"{% endif %}>{{ schema['schemaMetadata']['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formSchemaJson">SchemaJson</label>
            <textarea class="form-control" id="formSchemaJson" rows="3">{{ schema_json }}</textarea>
        </div>
        <div class="form-group">
            <label for="formDataJson">DataJson</label>
            <textarea name="data_json" class="form-control" id="formDataJson" rows="3">{{ data_json }}</textarea>
        </div>
        <div class="form-group">
            <label for="formResultJson">ResultJson</label>
            <textarea class="form-control" id="formResultJson" rows="3">{{ result_json }}</textarea>
        </div>
        <div class="form-group">
            <label for="formResultBin">ResultBin</label>
            <textarea class="form-control" id="formResultBin" rows="3">{{ result_bin }}</textarea>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <a href="?"><button type="button" class="btn btn-primary">Reset</button></a>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
